<form action="/api/products" method="post">
  <label for="title">Title:<input type="text" name="title" id="" /></label>
  <br />
  <label for="description">Description:<input
      type="text"
      name="description"
      id=""
    /></label>
  <br />
  <label for="code">Code:<input type="text" name="code" id="" /></label>
  <br />
  <label for="stock">Stock:<input type="text" name="stock" id="" /></label>
  <br />
  <label for="category">Category:<input
      type="text"
      name="category"
      id=""
    /></label>
  <br />
  <label for="price">Price:<input type="text" name="price" id="" /></label>
  <br />
  <button type="submit">Save product</button>
</form>

<div>

  <table id="stemplate">
    <thead>
      <tr>
        <th>title</th>
        <th>description</th>
        <th>price</th>
        <th>code</th>
        <th>stock</th>
        <th>status</th>
        <th>category</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>{{this.price}}</td>
          <td>{{this.code}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.status}}</td>
          <td>{{this.category}}</td>
          <td>
            <button id={{this.id}} class="btn_delete">Delete</button>
          </td>
        </tr>
      {{/each}}

    </tbody>
  </table>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>